# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
ENVIRONMENT=development
ACCOUNT_MICRO_NAME=UserService
ACCOUNT_MICRO_PACKAGE=account
PROJECT_MICRO_NAME=ProjectService
PROJECT_MICRO_NAME=project
BACKEND_PORT=3000
BACKEND_PREFIX=api

RABBIT_URI=amqp://guest:guest@localhost:5672/